<div class="tweet" [ngClass]="{gray: !tweet.twitted}">
  <img [src]="tweet.owner.imagePath" class="profileImg" alt="">
  <p class="owner">{{ tweet.owner.name }}</p>
  <p class="date">{{ tweet.date | date:'medium' }}</p>
  <p class="body">{{ tweet.body }}</p>
  <div class="likes">
    <span
      (click)="onLikeTweet()"
      [ngClass]="{
        liked: tweet.liked,
        redPending: tweet.likePending && !tweet.liked,
        blackPending: tweet.likePending && tweet.liked
      }"
      class="glyphicon glyphicon-heart">
    </span>

    <p class="num">{{ tweet.likesCount }}</p>
  </div>
</div>
