<form (ngSubmit)="onSubmit(f); f.reset();" #f="ngForm" class="newTweet">

  <textarea
    ngModel
    class="form-control"
    name="text"
    placeholder="write here..."
  ></textarea>

  <button
    type="submit"
    class="btn btn-primary form-control"
    [disabled]="(0 == (f.value.text ? f.value.text.length : 0) || (f.value.text ? f.value.text.length : 0) > maxLenght) && f.dirty">

    Tweet<span style="font-size: 10px;">({{ f.value.text ? f.value.text.length : 0 }}/{{ maxLenght }})</span>

  </button>

</form>
